/* Version 2: Full Width and Typographic */

.container {
/* This makes the container full width */
    width: 100%;
   

}
body{
    background-image:linear-gradient(to bottom right,rgb(19, 171, 22),rgb(6, 59, 9)); 
    height:100vh;
    overflow-y: hidden;
}

h1{
    font-family: "courage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150pt; 
    line-height: 90%;
    margin-top:150px ;
    margin-bottom:0;
text-align: center;
color:rgb(136, 10, 10);
}
.at{color: rgb(4, 7, 46); text-align: right; margin-right: 185px;}
.date{color:rgb(4, 7, 46);margin-left: 150px;}

.two{opacity: 0%;}
.four{opacity: 0%;}
.seven{opacity: 0%;}
.one{opacity: 0%;}